.paralax-main-body {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.paralax-text {
    display: table;
    width: 110%;
    padding-left: 5%;
    padding-right: 12%;
    min-height: 95vh;
    margin: 0px;
    margin-bottom: 95vh;
    position: relative;
    z-index: 3;
    background-color: #fff;
    align-items: center;

}

.paralax-text.paralax-last {
    margin-bottom: 0px;
}

.paralax-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    float: none;
}

.paralax-container {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
}

.paralax-img-cell {
    display: table-cell;
    vertical-align: middle;
}

.paralax-container.active {
    z-index: 2;
}

.paralax-container img {
    width: 100%;
}

.paralax-disabled-img {
    width: 100%;
    height: auto;
    margin: 80px 0px;
}